body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.mensaje-exito {
  text-align: center;
  align-items: center;
}

.inicio {
  padding: 20px;
  text-decoration: none;
  margin-left: 690px;
  border-radius: 20px;
  background-color: #fff;
}
